@model dynamic

@{
    ViewBag.Title = "Couchbase .NET 2.0 Beer Sample";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Couchbase .NET 2.0: Beer Sample</h1>
    <p class="lead">
        The Couchbase .NET SDK 2.0 is the official library for developing scalable, highly performant applications with Couchbase Server using .NET languages.
        This is an example application using the beer-sample sample bucket that comes installed with Couchbase Server!
    </p>
    <p><a href="http://docs.couchbase.com/prebuilt/net-sdk-2.0-beta/topics/overview.html" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This is an ASP.NET example application using the "beer-sample" sample bucket.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Fork me on Github</h2>
        <p>The Couchbase .NET SDK is an Open Source project hosted on Github. Download the source and contribute!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Available on Nuget</h2>
        <p>You can find the packages for including the Couchbase .NET SDK 2.0 in your Visual Studio projects on Nuget!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Nuget &raquo;</a></p>
    </div>
</div>
