@model IEnumerable<Couchbase.Views.ViewRow<Couchbase.BeerSample.Domain.Beer>>

@{
    ViewBag.Title = "Breweries";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <p class="lead">
        <div class="row">
            <div class="col-md-12">
                <h2>Beers</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul>
                    @foreach (var beer in Model)
                    {
                        <li>@beer.Value.Name - @Html.ActionLink("View", "Details", new { beer.Id }) | @Html.ActionLink("Edit", "Edit", new { beer.Id }) | @Html.ActionLink("Remove", "Delete", new { beer.Id })</li>
                    }
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    @using (Html.BeginForm("Create", "Beer", FormMethod.Get))
                    {
                        <div class="col-md-12"><button type="submit" class="btn btn-default">Create</button></div>
                    }
                </div>
            </div>
        </div>
    </p>
</div>